@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acces restrictionat!";
}

<header>
    <div child box>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Pentru a avea acces la aceste resurse este necesar sa utilizati un cont de administrator!!</p>
    </div>
    
</header>
