@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirma email";
}

<h1>@ViewData["Title"]</h1>

<button>
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Spre autentificare</a>
</button>
<partial name="_StatusMessage" model="Model.StatusMessage" />

