@page
@model LockoutModel
@{
    ViewData["Title"] = "Blocat";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Acest cont a fost blocat, va rugam sa incercati din nou mai tarziu.</p>
</header>
