@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Parola ta a fost resetata. Va rugam sa <a asp-page="./Login">dati clic aici pentru a va conecta</a>.
</p>
