
<section class="page-section" id="about">
    <div class="container mb-5">
        <div class="text-center mb-4">
            <h2 class="section-heading text-uppercase mb-3">Despre noi</h2>
            <h3 class="section-subheading text-muted">Bine ati venit la Cash Control, instrumentul suprem care va ajuta sa preluati controlul asupra finantelor dvs. Cu Cash Control, veti avea toate instrumentele de care aveti nevoie pentru a va urmari cheltuielile si pentru a lua decizii financiare inteligente.</h3>
        </div>

        <ul class="timeline mb-5">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/poze/moneyabout.gif" alt="..." />  </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Usor de utilizat</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">La Cash Control, credem ca toata lumea merita sa se simta in control asupra finantelor sale. De aceea, am proiectat aplicatia noastra pentru a fi usor de utilizat si accesibila pentru toata lumea, indiferent de antecedentele sau experienta dvs. financiara. Indiferent daca sunteti un profesionist in bugetare sau abia la inceput, Cash Control are tot ce aveti nevoie pentru a prelua controlul asupra finantelor dvs. si pentru a incepe sa traiti viata pe care o doriti.</p></div>
                </div>
            </li>

            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid"  src="~/poze/chartAbout.gif" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        Diagrame usor de inteles
                    </div>
                    <div class="timeline-body"><p class="text-muted">Una dintre cele mai puternice caracteristici ale Cash Control sunt diagramele noastre, care va ofera informatii in timp real asupra obiceiurilor dvs. de cheltuieli. Indiferent daca doriti sa vedeti cat cheltuiti pentru alimente in fiecare luna sau sa urmariti cheltuielile de divertisment in timp, graficele noastre va faciliteaza monitorizarea cheltuielilor si identificarea zonelor in care puteti reduce.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid"  src="~/poze/banidespre.gif" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Tineti finantele sub control de oriunde ati fi</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Dar Cash Control este mai mult decat un instrument de bugetare - este o aplicatie cuprinzatoare de management financiar. Cu functia noastra Ultimele tranzactii, puteti urmari cu usurinta toate cheltuielile si veniturile dvs. recente, astfel incat sa stiti intotdeauna exact unde se duc banii. In plus, convertizorul nostru valutar va ajuta sa vedeti cat valoreaza banii dvs. in diferite valute, indiferent daca calatoriti in strainatate sau efectuati o achizitie internationala.</p></div>
                </div>
            </li> 
        
        </ul>
        <div class="text-center">
            <h3 class="section-subheading text-muted">Incercati Cash Control astazi si vedeti cat de usor poate fi sa preluati controlul asupra finantelor tale.</h3>
        </div>
    </div>
</section>