@{
}
<h1>@ViewData["Title"]</h1>

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Controlează-ți cheltuielile cu CashControl - economisește bani, trăiește mai bine!</h2>
                    </div>
                    <div class="text">Bun venit la CashControl, aplicația ta de urmărire a cheltuielilor personale! Cu ajutorul nostru, vei putea să îți gestionezi bugetul, să urmărești cheltuielile și să economisești bani.</div>
                    <div class="text">
                        Cu CashControl, poți să introduci rapid toate cheltuielile tale în aplicație, fie că e vorba de facturi, cumpărături sau alte cheltuieli zilnice. Poți folosi aplicația noastra pentru a vedea exact cât ai cheltuit pe mâncare, transport sau alte necesități.
                        Poți să iți urmărești veniturile și cheltuielile prin intermediul tabloului principal unde sunt afișate statistici în ceea ce privește bugetul tău prin intermediul unor grafice ușor de înțeles. De asemenea, pe lângă venituri și cheltuieli îți poți urmări balanța, numărul de tranzacții dar și ultimele tranzacții inregistrate. 
                    </div>
                    <div class="btn-box">
                        <a class="theme-btn btn-style-one" asp-area="" asp-controller="Home" asp-action="Contact"> Contactează-ne </a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"> <img src="~/poze/cash control incercare logo.png" />  </a></figure>

                </div>
            </div>

        </div>
        <div class="sec-title">
            <span class="title">Our Future Goal</span>
            <h2>We want to lead in innovation & Technology</h2>
        </div>
        <div class="text">
            We works on UI/UX and functionality as well so that a plugins comes with proper stucture & stunning looks which suits to your web app & website.
        </div>
        <div class="text">
            We take a small toolkit here and ride it well so that it is fit for your use. One who performs well and looks even better.
        </div>
        <div class="text">
            Here we are trying to give you all kinds of technical content, whether it is related to designing or functionality. We are creating content on a lot of languages and will continue to make it free of cost even if you use it without any problem. Which is a very important thing.
        </div>
        <div class="text">
            Here you can also share the content you create, if our technical team likes it, then we will also share it on our blog.
        </div>
        <div class="text">

            In the end, I would say keep visiting our website and enjoy the quality content.
        </div>
    </div>
</section>