@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pagina de prezentare cu modificari aferente</h1>
    <img src="~/poze/cash control incercare logo.png" />
</div>
