@{
    //ViewData["Title"] = "Termeni & Conditii";
}
<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<style>
		div.mb-5 h1 {
			font-size: 2.5rem;
			font-weight: bold;
			text-align:center;
		}
	</style>

</head>
<body>
	<div class="mb-5">
		<h1>Termeni și Condiții</h1>
	</div>
	<div class="mb-5 box">		
		<p>Bine ai venit pe CashControl! Prin utilizarea site-ului nostru, sunteți de acord să respectați și să fiți supuși acestor termeni și condiții. Vă rugăm să citiți cu atenție aceste termeni și condiții înainte de a utiliza acest site.</p>

		<h2>1. Proprietatea intelectuală</h2>
		<p>Conținutul acestui site, inclusiv textele, graficele, imagini, designul, codul sursă și software-ul, este protejat de drepturile de autor și de alte legi privind proprietatea intelectuală. Niciun conținut al acestui site nu poate fi reprodus, modificat, distribuit sau utilizat în alte scopuri decât cele expres permise prin acești termeni și condiții.</p>

		<h2>2. Politica de confidențialitate</h2>
		<p>Suntem dedicați protejării confidențialității informațiilor personale ale utilizatorilor noștri. Prin utilizarea site-ului nostru, sunteți de acord cu colectarea și utilizarea informațiilor personale în conformitate cu politica noastră de confidențialitate.</p>

		<h2>3. Termenii de utilizare</h2>
		<p>Utilizarea acestui site este permisă doar pentru scopuri legale și în conformitate cu acești termeni și condiții. Nu aveți voie să utilizați acest site pentru a posta sau transmite materiale care încalcă drepturile de autor, drepturile de proprietate intelectuală sau alte drepturi ale unei terțe părți, sau care sunt ilegale, amenințătoare, defăimătoare, obscenă sau ofensatoare.</p>

		<h2>4. Cookie-uri</h2>
		<p>Site-ul nostru poate utiliza cookie-uri și alte tehnologii de urmărire pentru a colecta informații despre utilizatori și activitatea lor pe site-ul nostru. Prin utilizarea site-ului nostru, sunteți de acord cu utilizarea cookie-urilor și a altor tehnologii de urmărire în conformitate cu politica noastră de cookie-uri.</p>

		<h2>5. Limitarea responsabilității</h2>
		<p>
			Nu suntem responsabili pentru orice pierdere sau daună cauzată de utilizarea sau imposibilitatea utilizării acestui site sau de orice informații conținute în acest site. Ne rezervăm dreptul de a modifica sau întrerupe furnizarea site-ului nostru fără notificare prealabilă./p>

			<h2>Modificarea termenilor și condițiilor</h2>
		<p>Rețineți că putem modifica acești termeni și condiții în orice moment fără notificare prealabilă. Prin continuarea utilizării site-ului nostru după astfel de modificări, sunteți de acord să respectați și să fiți supuși termenilor și condițiilor modificate.</p>

		<h2>7. Jurisdicție și lege aplicabilă</h2>
		<p>Acest acord este guvernat și interpretat în conformitate cu legile în vigoare. Orice litigiu care apare în legătură cu acest acord va fi supus exclusiv jurisdicției instanțelor.</p>

		<h2>8. Limitări de responsabilitate</h2>
		<p>Site-ul nostru și conținutul acestuia sunt oferite "așa cum sunt", fără nicio garanție de orice fel, fie expresă sau implicită, inclusiv, dar fără a se limita la, garanții implicite de comercializare, adecvare pentru un anumit scop sau neîncălcare a drepturilor de proprietate intelectuală. În niciun caz nu vom fi responsabili pentru orice daune directe, indirecte, accidentale, speciale, exemplare sau punitive sau pentru orice alte daune, inclusiv, dar fără a se limita la, pierderea de profituri, utilizarea incorectă a datelor sau alte pierderi intangibile, rezultate din utilizarea sau incapacitatea de a utiliza site-ul nostru.</p>

		<h2>9. Legi aplicabile și jurisdicție</h2>
		<p>Acești termeni și condiții vor fi guvernați și interpretate în conformitate cu legile în vigoare. Orice dispută care ar putea surveni în legătură cu acești termeni și condiții va fi supusă exclusiv jurisdicției tribunalurilor din România.</p>

		<h2>10. Dispoziții finale</h2>
		<p>Dacă oricare dintre prevederile acestor termeni și condiții este considerată nevalidă sau neexecutabilă în orice jurisdictie, această prevedere va fi eliminată sau limitată la minimumul necesar, astfel încât celelalte prevederi să rămână în vigoare și efect.</p>

		<h3>Acești termeni și condiții constituie întregul acord între utilizator și noi în ceea ce privește utilizarea site-ului nostru și înlocuiesc toate acordurile anterioare sau contemporane și înțelegerile, fie scrise, fie verbale, privind acest subiect.</h3>
	</div>
	
</body>
</html>
