@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Aceasta actiune dezactiveaza autentificarea in 2 factori (2FA).</strong>
    </p>
    <p>
        Dezactivarea autentificarii in doi factori nu schimba cheile utilizate in aplicatia de autentificare. 
        Daca doriti sa modificati cheia utilizata in aplicatia de autentificare ar trebui sa <a asp-page="./ResetAuthenticator">iti resetezi cheile de autentificare</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
