@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Pune aceste coduri intr-un loc sigur.</strong>
    </p>
    <p>
        Daca va pierdeti dispozitivul si nu aveti codurile de recuperare, veti pierde accesul la contul dvs.
    </p>
    <p>
        Generarea de noi coduri de recuperare nu modifica cheile utilizate in aplicatiile de autentificare. Daca doriti sa schimbati cheia
        folosita in aplicatia de autentificare <a asp-page="./ResetAuthenticator">resetati cheile de autentificare.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Generati coduri de recuperare</button>
    </form>
</div>
