@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datele personale";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6 mb-3">
        <p>Contul dumneavoastra contine date personale pe care ni le-ati furnizat. Aceasta pagina va permite sa descarcati sau sa stergeti acele date.</p>
        <p>
            <strong>Stergerea acestor date va sterge definitiv contul dvs., iar acesta nu poate fi recuperat.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary mb-3" type="submit">Descarca</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Sterge</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
