@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Daca resetati cheia de autentificare, aplicatia de autentificare nu va functiona pana nu o reconfigurati.</strong>
    </p>
    <p>
        Acest proces dezactiveaza 2FA pana cand va verificati aplicatia de autentificare.
        Daca nu finalizati configurarea aplicatiei de autentificare, este posibil sa pierdeti accesul la contul dvs.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetati cheia de autentificare</button>
    </form>
</div>
