@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Autentificare in doi factori (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Nu mai aveti coduri de recuperare.</strong>
                    <p>Trebuie <a asp-page="./GenerateRecoveryCodes">sa generezi un nou set de coduri de recuperare</a> inainte de a va putea conecta cu un cod de recuperare.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Mai aveti 1 cod de recuperare.</strong>
                    <p>Poti <a asp-page="./GenerateRecoveryCodes">genera un nou set de coduri de recuperare</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Mai aveti @Model.RecoveryCodesLeft coduri de recuperare.</strong>
                    <p>Ar trebui <a asp-page="./GenerateRecoveryCodes">sa generezi un nou set de coduri de recuperare</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Uita acest browser</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Dezactiveaza 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Reseteaza coduri de recuperare</a>
        }

        <h4>Aplicatia de autentificare</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-success>Adauga aplicatie de autentificare</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-success">Seteaza aplicatia de autentificare</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Reseteaza aplicatia de autentificare</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Politica de confidentialitate si cookie-uri nu au fost acceptate.</strong>
            <p>Trebuie sa acceptati politica inainte de a putea activa autentificarea cu doi factori.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
