@model IEnumerable<CashControl.Models.Category>

@{
    //ViewData["Title"] = "Index";
    ViewData["TitluPagina"] = "Categorii";
    ViewData["CreareText"] = "+ Categorie noua";
    ViewData["CreareURL"] = "/Categories/Create";
}


@*<head>
    <style>
        #deleteModal {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }

    </style>
</head>*@

<div class="mb-3">
    <ejs-breadcrumb id="breadcrumb" style="position:relative; left:250px; top:2px;">

    </ejs-breadcrumb>
</div>


<div class="row">

    <div class=" = col-md-7 child box">
        <ejs-grid id="categories" gridLines="None" dataSource="@Model" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="7"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Categorie" field="DeunumireCuEmoji" allowSearching="true"></e-grid-column>
                <e-grid-column headerText="Tip" template="#ColoanaTipTemplate" width="150px"></e-grid-column>
                <e-grid-column headerText="Actiuni" template="#ActiuniCRUDTemplate" textAlign="Center"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

</div>

<script id="ColoanaTipTemplate" type="text/x-template">
    ${if(Type=="Venit")}
    <span class="badge bg-success">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>


<script id="ActiuniCRUDTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start d-flex justify-content-center">
        @*Pentru butonul de edit*@
        <a class="btn btn-sm" href="/Categories/Edit/${CategoryID}">
           <i class="bi bi-pencil-square icon-edit" style="font-size: 17px;"></i>
        </a>
        @*Pentru butonul de delete*@
        <form action="/Categories/Delete/${CategoryID}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm" onclick="return confirmDelete();" id="deleteBtn">
                <i class="bi bi-trash3-fill icon-delete" style="font-size: 17px;"></i>
            </button>
        </form>
    </div>

    @*Modal pentru popup*@

        <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirma stergerea</h5>
                </div>
                <div class="modal-body">
                   Sigur doresti sa stergi aceasta categorie?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteCancelBtn">Renunta</button>
                    <button type="button" class="btn btn-danger" id="deleteConfirmBtn">Sterge</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    function confirmDelete() {
        // arata modalul
        $('#deleteModal').modal('show');

        // se gestioneaza raspunsul utilizatorului
        $('#deleteConfirmBtn').click(function () {
            $('#deleteModal').modal('hide');
            $('#deleteBtn').closest('form').submit(); // se submite formularul care contine butonul de delete
        });

        $('#deleteCancelBtn').click(function () {
            $('#deleteModal').modal('hide');
            return false; // nu se submite formularul
        });

        return false; // nu se submite formularul inca
    }
</script>


